* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(header.jpg);
	background-size: 100%;
}
#dp {
	border-radius: 50%;
	height: 150px;
}
.p {
	position: absolute;
	/* height: 100px; */
	margin-top: 300px;
	margin-left: 23%;
}

.q {
	position: absolute;
	/* height: 100px; */
	margin-top: 300px;
	margin-left: 40%;
}
.r {
	position: absolute;
	/* height: 100px; */
	margin-top: 300px;
	margin-left: 53%;
}
.s {
	position: absolute;
	/* height: 100px; */
	margin-top: 300px;
	margin-left: 70%;
}
.header .overlay {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
	background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}
#dp {
	background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
	background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}
.custom-navbar .logo {
	font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
	text-decoration: none;
	color: #fff;
}
/* .custom-navbar.affix .logo {
	color: #695aa6;
} */
